<html>
<head>
  <title>E-Vade</title>
  <link rel = "stylesheet" href= "/resources/style.css">
</head>
<body>
  <div id="nav-bar">
    <ul class = "nav">
      <li><a href="/">E-Vade</a></li>
      <li><a href="/tutorial">Tutorial</a></li>
      <li><a href="/rankings">Ranking</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
<h1> E-vade </h1>
<div>
<h2 class="title_for_pages"> Why? <h2>
  <p> We decided to create this game because . . . </p>
</div>
<div>
  <h3> Fausto </h3>
    <p> Info </p>
  <h3> Gonzalo </h3>
    <p> Info </p>
  <h3> Nigel </h3>
    <p> Info </p>
</body>
</html>
