<html>

<head>
  <title>E-Vade</title>
  <link rel="stylesheet" href="/resources/style.css">
</head>

<body>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div id="nav-bar">
    <ul class="nav">
      <li><a href="/">E-Vade</a></li>
      <li><a href="/tutorial">Tutorial</a></li>
      <li><a href="/rankings">Ranking</a></li>
      <li><a href="/about">About</a></li>
      <li>
        <div class="fb-share-button" data-href="http://e-vade.appspot.com/" data-layout="box_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fe-vade.appspot.com%2F&amp;src=sdkpreparse">Share</a></div>
      </li>
      <li><a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="I love this game!" data-hashtags="#E-vade #CSSI #Google" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
    </ul>
  </div>
  <h1> E-vade </h1>
      <h2 class="title_for_pages"> Why? </h2>
  <p> We decided to create this game because we believed that making a game would be exhilerating and entertaining to make. This code is heavily based on Javascript and took various lines of code to complete.</p>
</div>
  <h1><img id="grouppic" src="resources/IMG_6429.JPG"/></h1>
<div>
  <h3> Fausto </h3>
    <p> I will be attending Carnegie Mellon University during the fall of 2017 and CSSI is my first experience coding. So far I like it and hope to improve in the future.
    GitHub Username: @Fausto54   </p>
  <h3> Gonzalo </h3>
    <p> I will be attending Boston University to study Computer Engineering. I am so glad I got to be a part of CSSI and I can't wait for what the future holds :).
      Github username: @Gonzo717</p>
  <h3> Nigel </h3>
    <p> I will be attending the University of Illinois in Urbana-Champaign to study Computer Engineering. </p>
</body>
</html>
