<html>
<head>
  <title>E-Vade</title>
  <link rel = "stylesheet" href= "/resources/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/resources/e-vade.js"></script>
</head>
<body>
  <div id="nav-bar">
    <ul>
      <li><a href="/">E-Vade</a></li>
      <li><a href="/tutorial">Tutorial</a></li>
      <li><a href="/rankings">Ranking</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
<h1> E-vade </h1>
</body>
</html>
