h1 {
  color: blue;
  text-align: center;
  font-size: 80px;
}
html {
  background-color: lightblue;
}
#nav-bar li{
  display: inline;
  text-align: center;
  list-style: none;
  background-color: black;
  margin: 10px;
  border-radius: 5px;
  color: white;
}
